.top-bar-container{
    border-bottom: 1px solid #d8d8d8;
    position: sticky;
    
    .top-bar-warper{
        width: 960px;
        height: 58px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    
        a{
            img{
                width: 75%;
            }
        }
        .search-bar{
            width: 35%;
            height: 65%;
            background: #efefef;
            border-radius: 5px;
            display: flex;
            align-items: center;
            padding-left: 15px;
            
            input{
                width: 90%;
                border: none;
                background: none;
            }
        }
        .navigation-icons{
            a{
                font-size: 26px;
                color: #000;
                margin: 0px 10px;

                img{
                    width: 30px;
                    border-radius: 50%;
                }
            }
        }
    }
}