.footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    ul{
        width: 76%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 12px;
        column-gap: 21px;
        margin-bottom: 25px;
        
        li{
            a{
                color: #8e8e8e;
                font-size: 14px;
            }
        }
    }
    .copyrights{
        color: #8e8e8e;

        select{
            border: none;
            margin-right: 10px;
        }
    }
}